* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;

    color: white;
}

body::before {
    content: "";
    
    position: fixed;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("./background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    transform: scale(1.02);

    /* backdrop-filter도 나중에 써보기 => 이미지 크기 조절이 어려워서 실패 */
    -webkit-filter: blur(5px); 
    -moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
    filter: blur(5px);

    z-index: -1; 
}

main .main header .netflix_logo {
    width: 150px;
    height: 40px;

    margin: 10% auto 50px;

    background-image: url("netflix-log.png");
    background-size: cover;
    background-repeat: no-repeat;
}

main .main h1 {
    font-size: 70px;
    font-weight: 500;
    line-height: 90px;
}