.kcontents {
    position: relative;
}

.kcontents .divContainer {
    position: absolute;

    top: 5vh;
    left: 300px;

    width: 1200px;
    height: 670px;
}

.kcontents .posterContainer {
    width: 700px;
    height: 180px;

    display: flex;
    justify-content: space-between;

    margin: 30px auto;
}

.kcontents .pContainer {
    font-size: 25px;
    font-weight: bold;

    margin: 30px auto;
}

.kcontents .scoreContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1000px;
    margin: auto;
}

.kcontents .scoreContainer .starContainer {
    width: 50%;
}

.kcontents .scoreContainer .starContainer p {
    background-color: #363636;

    font-size: 30px;
    font-weight: bold;

    width: 90%;
    height: 60px;

    padding: 5px 30px 0 30px;

    box-sizing: border-box;
    text-align: left;

    display: flex;
    justify-content: space-between;
}

.kcontents .scoreContainer .starContainer p:nth-child(2),
.kcontents .scoreContainer .starContainer p:nth-child(3) {
    margin: 10px 0;
}

.kcontents .scoreContainer .starContainer p span {
    color: yellow;

    vertical-align: 10%;
}

.kcontents .chartContainer {
    background-color: yellow;

    width: 50%;
}

.kcontents .divContainer #arrow {
    left: -50px;
    top: -50px;
}