/* Main 페이지 */
.main .logo {
    width: 235px;
    height: 60px;

    margin: 10% auto 20px;
}

.main h1 {
    font-size: 70px;
    font-weight: 500;

    line-height: 90px;
}

/* How To Use 페이지 */
.how_to_use1 p, .how_to_use2 p {
    padding: 100px 0 0 100px;
    margin-bottom: 30px;

    font-size: 30px;
    font-weight: 500;
    text-align: start;
}

.how_to_use1 .covid_table {
    width: 700px;

    background-color: white;

    padding: 50px;
    margin: auto;
    box-sizing: border-box;
}

.how_to_use2 .logo {
    display: inline-block;

    width: 110px;
    height: 30px;

    margin: 0 10px -5px;
}

.how_to_use2 .world_map {
    width: 900px;
    height: 400px;
}