.marketContainer {
    position: relative;
}

.marketContainer .divContainer {
    position: absolute;
    top: 5vh;
    left: 300px;

    width: 1200px;
    height: 670px;
}

.marketContainer .divContainer p {
    font-size: 30px;
    font-weight: bold;

    text-align: left;

    margin: 50px 0 0 50px;
}

.marketContainer .divContainer .releaseContainer {
    background-color: white;

    width: 700px;

    margin: 50px auto;
    padding: 50px;
}

.marketContainer .divContainer #arrow {
    left: -100px;
    top: -30px;
}

.marketContainer .divContainer #arrow.uparrow {
    margin-top: 100px;
}

.marketContainer .divContainer #arrow.uparrow::before {
    transform: rotate(-45deg);

    animation: upArrow 1.5s ease-out infinite;
}
