.marketContainer .divContainer {

    margin-left: 300px;
    padding: 70px 0 0 0;
}

.marketContainer .divContainer p {
    font-size: 30px;
    font-weight: bold;

    text-align: left;

    margin: 0 0 0 50px;
}

.marketContainer .divContainer .releaseContainer {
    background-color: white;

    width: 700px;

    margin: 50px auto 0;
    padding: 50px;
}

.marketContainer .divContainer .genreContainer {
    width: 600px;
    height: 400px;
  
    margin: 50px auto 50px;
    padding: 30px;
  
}
