
main .page .grid_container {
    width: 100vw;
    height: 90vh;

    margin: 5vh auto 0;

    grid: 1fr 3fr;

    background-color: yellow; /* 구역 보려고 색깔 칠해둔거 */
}

main .page .grid_container .menubox {
    width: 20%;
    height: 100%;

    grid-row-start: 1;
    grid-row-end: 2;

    background-color: #981217;

    padding: 30px;
    box-sizing: border-box;
}

main .page .grid_container .menubox p {
    text-align: left;

    font-size: 30px;
    font-weight: bold;
}

main .page .grid_container .menubox p + div {
    width: 100%;
    height: 10%;

    color: black;
    line-height: 30px;

    background-color: white;

    padding: 10px 0 10px 15px;
}

main .page .grid_container .menubox label {
    display: block;

    text-align: left;
}

main .page .grid_container .menubox p:nth-child(3) {
    margin-top: 30px;
}
